body {
    margin: 0px 90px 0px 90px;
    background-color: #9090a2;
    color: #000000;
    font-family: verdana,sans;
}

#front_page {
    margin: 5px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: #f0f0f6;
}

#content {
    position: relative;
    margin: 30px 150px 10px 30px;
    padding-right: 10px;
}

#logo {
    margin-top:2px;
    margin-left:8px;
    border-left:1px solid black;
    border-bottom:1px solid black;
}

h3 {
    border-bottom: 1px solid #909090;
}

p {
    text-align: justify;
}

#navmenu {
    position: absolute;
    top: 20px;
    left: 970px;
    width: 90px;
    padding-right: 10px;
    background-image: url("images/msep2.png");
    background-repeat: no-repeat;
    background-position: top left;
}

#navmenu a {
    display: block;
    text-decoration: none;
    color: #505048;
    padding: 2px;
    font-size: small;
    padding-left: 16px;
}

#navmenu a:hover {
    color: #901010;
    background-image: url("images/arrow_rg.png");
    background-repeat: no-repeat;
    background-position: center left;
}

#footer {
    color: #404060;
    font-size: x-small;
    border-top: 1px solid #909090;
    margin-top: 30px;
}

#footer p {
    text-align: center;
}

code {
    font-family: courier,courier-new,fixed;
    white-space: pre;
}

kdb {
    font-size: 80%;
    white-space: pre;
    overflow: auto;
}

#main-txt {
    margin-right: 25px;
}

#main-txt h3 {
    color: #203070;
    font-weight: 1.5em;
    font-family: sans-serif;
}


#main-txt p {
    text-align: justify;
    font-size: 0.9em;
    font-family: verdana, arial, sans-serif;
    color: #202040;
}

#support-txt {
    margin-right: 25px;
}

#support-txt p {
    text-align: justify;
    font-size: 0.9em;
    font-family: verdana, arial, sans-serif;
    color: #202040;
}

#support-txt h3 {
    color: #702020;
    font-weight: 1.5em;
    font-family: sans-serif;
}

#howto-txt {
    margin-right: 25px;
}

#howto-txt p {
    text-align: justify;
    font-size: 0.9em;
    font-family: verdana, arial, sans-serif;
    color: #202040;
}

#howto-txt h3 {
    color: #202070;
    font-weight: 1.5em;
    font-family: sans-serif;
}

#faq-txt {
    margin-right: 25px;
}

#faq-txt h3 {
    color: #603030;
    font-weight: 1.5em;
    font-family: sans-serif;
}

#faq-txt p {
    text-align: justify;
    font-size: 0.9em;
    font-family: verdana, arial, sans-serif;
    color: #203030;
}


#features {
    margin-right: 25px;
}

#features li {
    font-size: 0.9em;
    font-family: verdana, arial, sans-serif;
    padding: 5px;
    color: #202050;
}

#features b {
    color: #307030;
}

#features h3 {
    color: #202070;
    font-weight: 1.5em;
    font-family: sans-serif;
}


/* __EOF__ */

